<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ExpandTest Suite">
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    <test name="Alert Tests">
        <classes>
            <class name="tests.AlertTest"/>
        </classes>
    </test>
    <test name="Form Interaction Tests">
        <classes>
            <class name="tests.FormInteractionTest"/>
        </classes>
    </test>
</suite>